PANEL_HOST=127.0.0.1
PANEL_PORT=3210
PZ_CONFIG_DIR=/home/steam/Zomboid/Server
PZ_SERVER_NAME=servertest
PZ_PANEL_BACKUP_DIR=/home/steam/Zomboid/Server/.pz-config-panel-backups
PZ_SYSTEMD_UNIT=project-zomboid.service
